.welcome-title {
  margin: 10px 0; /* Adjust as needed */
  padding: 0;
}


body {
  background-color: #333333; /* dark charcoal */
  color: #ffffff; /* White text color */
  margin: auto;
  padding: 0;
  font-size: 16px; /* Base font size for larger screens */
  overflow: hidden; /* Remove scroll bars from the page */
}

.container {
  height: 100vh; /* Full viewport height */
  position: relative; /* Set position to relative */
}

textarea {
  width: 95%; /* Full width */
  height: 100vh; /* Full viewport height */
  background-color: #333333; /* Dark charcoal background */
  color: #ffffff; /* White text color */
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  resize: none; /* Disable resizing */
  font-size: 1em; /* Relative to body font size */
}

.submit-button {
  position: absolute; /* Absolute positioning */
  top: 10px; /* Relative offset from the top */
  right: 1em; /* Relative offset from the right */
  color: #ffffff;
  background-color: #ff5733; /* Background color */
  padding: 0.5em 1em; /* Relative padding */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer */
  font-size: 1em; /* Relative to body font size */
}
#editable-div {
  width: 95%;
  height: calc(100vh - 100px);
  border: 1px solid #ccc;
  padding: 5px;
  overflow: auto; /* Add a scrollbar when the content overflows */
  white-space: pre-wrap; /* Preserves white spaces and line breaks, and breaks lines where they would overflow */
  font-family: monospace; /* Optional: to make it look more like code */
}
#pasteLinkContainer {
  border: 2px solid #ff5733;   /* Blue border color */
  border-radius: 10px;          /* Rounded corners */
  padding: 10px;                /* Padding inside the rectangle */
  margin-bottom: 15px;          /* Space between the link container and the input box */
  background-color: #333333;    /* Light grey background color */
  text-align: center;           /* Center the text */
  display: block;               /* Make it a block element */
}

#pasteLink {
  text-decoration: none;        /* Remove underline from link */
  color: #ff5733;               /* orange link color */
  font-weight: bold;            /* Bold text */
}

#pasteLink:hover {
  text-decoration: underline;   /* Underline on hover */
}


/* Media Query for Medium Screens */
@media only screen and (max-width: 800px) {
  body {
    font-size: 14px; /* Slightly smaller font size for medium screens */
  }
}

/* Media Query for Smaller Screens */
@media only screen and (max-width: 600px) {
  body {
    font-size: 12px; /* Smaller font size for small screens */
  }
  .submit-button {
    top: 0.5em; /* Smaller top offset for small screens */
    right: 0.5em; /* Smaller right offset for small screens */
  }
}